.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries */
@media (min-width: 900px) {
  .cards {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .middleCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem;
  }
}
