.wrapper {
  width: 90%;
  margin: 0 auto;
}

.topTitle,
.bottomTitle {
  text-align: center;
}

.topTitle {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.bottomTitle {
  margin-bottom: 1rem;
}

.text {
  color: hsl(229, 6%, 66%);
  text-align: center;
  margin-bottom: 3rem;
}

/* Media Queries */
@media (min-width: 900px) {
  .wrapper {
    width: 60%;
    max-width: 550px;
  }
}
