:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLighGray: hsl(0, 0%, 98%);
}

.App {
  padding: 5rem 0 4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

:global(.container) {
  width: 90%;
  margin: 0 auto;
}

/* Media Queries */
@media (min-width: 900px) {
  :global(.container) {
    width: 70%;
  }
}
